* text=auto !eol
/favicon.ico.html -text
filtres/couleurs.php -text
filtres/images_lib.php -text
filtres/images_transforme.php -text
filtres/images_typo.php -text
images/image_filtre-128.png -text
images/image_filtre-32.png -text
/images_fonctions.php -text
inc/filtres_images.php -text
inc/filtres_images_compat.php -text
modeles/favicon.html -text
/plugin.xml -text
tests/imagesrc.html -text
tests/imagetest.jpg -text
tests/masque-305x85.png -text
