* text=auto !eol
/apple-touch-icon.png.html -text
/favicon.ico.html -text
filtres/couleurs.php -text
filtres/images_lib.php -text
filtres/images_transforme.php -text
filtres/images_typo.php -text
images/image_filtre-16.png -text
images/image_filtre-24.png -text
images/image_filtre-32.png -text
/images_fonctions.php -text
inc/filtres_images.php -text
inc/filtres_images_compat.php -text
lang/paquet-images.xml -text
lang/paquet-images_ar.php -text
lang/paquet-images_de.php -text
lang/paquet-images_en.php -text
lang/paquet-images_es.php -text
lang/paquet-images_fa.php -text
lang/paquet-images_fr_fem.php -text
lang/paquet-images_it.php -text
lang/paquet-images_lb.php -text
lang/paquet-images_nl.php -text
lang/paquet-images_pt.php -text
lang/paquet-images_pt_br.php -text
lang/paquet-images_ru.php -text
lang/paquet-images_sk.php -text
modeles/favicon.html -text
tests/_couleur_hsl2rgb.php -text
tests/_couleur_hsv2rgb.php -text
tests/_couleur_rgb2hsl.php -text
tests/_couleur_rgb2hsv.php -text
tests/bonnetaille.html -text
tests/couleur_extraire.php -text
tests/degrade-bleu.jpg -text
tests/imagesrc.html -text
tests/imagetest.jpg -text
tests/masque-305x85.png -text
tests/multiple_de_trois.php -text
